/* ======= Layout styling ======== */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #303030;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Syne', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

/* ===== Header styling ====== */


header {
  padding-top: 10px;
  margin-bottom: 1em;
  width: 100%;
  display: block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 28px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}


nav > ul > li > a {
  padding: 0 24px;
  font-family: 'Syne', sans-serif;
  text-transform: uppercase;
  color: #303030;
  text-decoration: none;
  font-weight: 600;
}

nav > ul > li > a:hover {
  color: #115760;
}

.header-logo {
  max-width: 60px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* ====== Footer styling =====*/

footer {
  text-align: center;
}

.reach_me {
  padding: 10px;
}

.social {
  width: 20%;
  height: auto;
  padding: 10px;
}

.cls-0 {
  fill: #fff;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  fill: #303030;
  transition-duration: 0.4s;
  transition-property: fill;
}

.cls-1:hover {
  fill:#4476bb;
}

.cls-2:hover {
  fill:url(#radial-gradient);
}

.cls-3:hover{
  fill:#0074b1;
}

.cls-4:hover {
  fill:#e94c89;
}

.cls-5:hover {
  fill:#ef4437;
}

/* ===== landing page styling ===== */
body.background {
  text-align: center;
  background-image: url("../img/Background1@2x.png");
}

.landing-logo {
  text-align: center;
  z-index: 5;
}

.glass-logo {
  width: 70%;
  margin: 7em 0;
  height: auto;
  opacity: 0.8;
}

@keyframes cloud-1-move {
  from {transform: translateX(0);}
  to {transform: translateX(100px);}
}

.cloud-1 {
  position: absolute;
  z-index: 2;
  right: 600px;
  top: -50px;
  animation-duration: 30s;
  animation-name: cloud-1-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-2-move {
  from {transform: translateX(0);}
  to {transform: translateX(-200px);}
}

.cloud-2 {
  position: absolute;
  z-index: 6;
  top: 200px;
  right: 60px;
  animation-duration: 50s;
  animation-name: cloud-2-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes cloud-3-move {
  from {transform: translateX(0);}
  to {transform: translateX(-300px);}
}

.cloud-3 {
  position: absolute;
  opacity: 0.7;
  top: 800px;
  animation-duration: 30s;
  animation-name: cloud-3-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-4-move {
  from {transform: translateX(0);}
  to {transform: translateX(400px);}
}

.cloud-4 {
  fill: #fff;
  position: absolute;
  z-index: 8;
  right: 200px;
  top: 430px;
  animation-duration: 90s;
  animation-name: cloud-4-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}




/* ====== home button styling ======= */

.site-nav {
  display: block;
  padding-top: 1em;
  padding-bottom: 5em;
  margin-top: 1em;
}

.button-flex {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 90%;
}


a.nav-button {
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Syne', sans-serif;
  margin: 1em 0;
}

.nav-button {
    display: block;
    color: #fff;
    text-transform: uppercase;
    width: 12em;
    padding: 0.75em;
    background: rgba(126, 178, 180, 1.0);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.nav-button::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(26, 88, 96, 0.5);
      border-radius: inherit;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7), 0 0.625em 0 0 rgba(58, 58, 58, 0.1);
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.nav-button:hover {
  background: rgba(81, 126, 131, 1.0);
  transform: translate(0, 0.25em);
}

.nav-button:hover::before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1.0), 0 0.5em 0 0 rgba(58, 58, 58, 0.1);
  transform: translate3d(0, 0.5em, -1em);
}

.nav-button:active {
  background: rgba(153, 188, 192, 1.0);
  transform: translate(0em, 0.75em);
}

.nav-button:active::before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1.0), 0 0 rgba(58, 58, 58, 0.1);
  transform: translate3d(0, 0, -1em);
}

/* ===== Work section ======*/

.heading {
  text-align: center;
  background-image: url("../img/Background1@2x.png");
  background-size: cover;
  padding: 70px 5px;
}

.preview-work-img {
  display: block;
  width: 100%;
}

.preview-work-text {
  padding: 0 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-work-text > p {
  text-align: left;
  margin-top: 0;
}

.preview-more.nav-button {
  margin-top: 2em;
  margin-bottom: 5em;
  background: rgba(40, 129, 141, 1.0);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.preview-more.nav-button:hover {
  background: rgba(26, 88, 96, 1.0);
  transform: translate(0, 0.25em);
}

.preview-work {
  border-bottom: 1px solid #303030;
  margin-bottom: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ====== About ======*/

.about-image {
  text-align: center;
}

.it-me {
  position: relative;
  width: 75%;
  top: -25px;
  display: inline;
}

.about-text {
  padding: 25px 14px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 2em 0;
}

.list-items {
  text-align: center;
  list-style: none;
  padding: 0;
}

.about {
  text-align: center;
}

.resume {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*===== Project pages ===== */


.img-background-rfrm {
  margin-top: 4em;
  background-image: url("../img/RFRM/rfrm-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.img-background-dimes {
  margin-top: 4em;
  background-image: url("../img/Dimes/dimes-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.project {
  text-align: center;
}

.project-img-container {
  width: 100%;
  text-align: center;
}

.project-img.rfrm {
  width: 70%;
}

.project-img.dimes {
  width: 100%;
  margin: 1em 0;
}

.project-img.home {
  width: 85%;
}
.project-img.final {
  width: 90%;
}

 .project-text {
   text-align: center;
   margin: 4em 0;
 }

.project-text > p {
  text-align: left;
  padding: 0 16px;
}

.project-detail {
  text-align: center;
  margin: 4em 0;
}

.no.container {
  padding: 0;
}

ul.scroll-nav {
  display: none;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

  nav > ul.header-nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2em;
}

  .social {
    width: 12%;
  }

  .sticky-grid {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-gap: 1em;
  }

  .img-background-dimes {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .project.container {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .idea {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .prelim {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-right: 16px;
  }

  .sticky-nav {
    display: block;
    grid-column-start: 1;
    text-align: center;
    position: sticky;
    top: 7em;
    padding: 12px 0;
    margin-left: 16px;
    float:none;
  }

  ul.scroll-nav {
    display: block;
    border: 1px solid #303030;
    position: sticky;
  }

  ul.scroll-nav > li {
    padding: 10px 0;
  }

  ul.scroll-nav > li > a {
    width: 100%;
    line-height: 1.4em;
    display: block;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    padding: 12px;
  }

  ul.scroll-nav > li > a.current {
    display: block;
    background-image: url("../img/Background1.png");
    color: #fff;
  }

  section {
    padding-top: 1em;
  }

  .project-text {
    margin: 1em 0;
  }

  .project-detail.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .project-detail.item2 {
    grid-column-start:3;
  }

  .img-background-rfrm {
    margin-top: 4em;
    background-image: url("../img/RFRM/rfrm-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
  }

  .grid-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }


}

/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {

  header {
    text-align: unset;
    padding: 15px;
    padding-top: 12px;
    margin-bottom: 0;
  }

  body {
    font-size: 16px;
  }

  nav > ul > li > a {
    font-size: 16px;
  }

  .header-logo {
    max-width: 300px;
    margin-right: 0;
  }
  .social {
    width: 7%;
    padding: 16px;
  }



  /* ======= landing page styling ======= */

  .landing {
    display: grid;
    grid-column-gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: 45% 55%;
    width: 100%;
  }

  .landing-logo {
    grid-column-start: 2;
    width: 100%;
    margin-right: 5em;
  }

  .site-nav {
    text-align: center;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
    margin: 5em 8em;
  }

  .cloud-1 {
    top: 0px;
    right: 950px;
    animation-duration: 60s;
    animation-name: cloud-1-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-1-move {
    from {transform: translateX(0);}
    to {transform: translateX(400px);}
  }

  .cloud-2 {
    animation-duration: 60s;
    animation-name: cloud-2-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-3-move {
    from {transform: translateX(0);}
    to {transform: translateX(600px);}

  }

  .cloud-3 {
    right: 200px;
    animation-duration: 60s;
    animation-name: cloud-3-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-3-move {
    from {transform: translateX(0);}
    to {transform: translateX(-400px);}

  }

  .cloud-4 {
    right: 640px;
    animation-duration: 60s;
    animation-name: cloud-1-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-4-move {
    from {transform: translateX(0);}
    to {transform: translateX(600px);}
  }

/* ======== Work ======= */

.heading {
  height: 470px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 3em;
}

.page-title {
  height: 100%;
}

.grid-l {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}

.preview-work.dimes {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: inline-grid;
  grid-template-columns: inherit;
}

.preview-work.rfrm {
  grid-row-start: 2;
  grid-row-end: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  display: inline-grid;
  grid-template-columns: inherit;
  padding-bottom: 2em;
}

.preview-cover.rfrm {
  padding-right: 30px;
}


.preview-more {
  text-align: center;
}

#dimes-mockups {
  margin-bottom: 6em;
}

/*===== About  page styling =====*/

.grid-about {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-image {
  position: relative;
  height: 80%;
}

.it-me {
  width: 85%;
  top: -45px;
  margin-left: 0.25em;
}

.about-text {
margin-right: 0.25em;
padding-right: 20px;
padding-bottom: 20px;
text-align: left;
height: 84%;
}

.about-grid {
margin: 0px;
}

/* ======= Project styling ======= */

.project-text {
  margin: 2em 8em;
}

.project-text.idea {
  margin: 0 2em;
  margin-top: 7em;
}

.project-img.podcast {
  width: 50%;
}

.project-img.rfrm {
  width: 40%;
}

.project-img.dimes {
  width: 60%;
}

}
