/* Colors used:
Background-color (Light Beige): #f4eae1
Text (Black): #303030
Primary (Lavender): #b27ea5
Primary (Light Blue): #cce9e7
Secondary (Citron): #b2b536
Secondary (Burnt Orange): #bd7115
Secondary (Dark Blue): #014676
*/

/* ======= Layout styling ======== */

* {
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

.row {
  margin: 25px 0;
}

div {
  display: block;
}

body {
  background-color: #f4eae1;
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #303030;
}

/* ======= Button styling ======= */

a {
  color: #303030;
  text-decoration: none;
}

a:hover,
a:focus {
  color: ##bd7115;
}

a:visited {
  color: #303030;
}

a:active {
  color: #bd7115;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #014676;
  text-transform: uppercase;
  border: 2px solid #014676;
  padding:10px 20px;
}

.button:hover {
  background-color: #014676;
  color: #f4eae1;
}

/* ======= Headings ======= */

h1, h2, h3, h4 {
  font-family: 'Yeseva One', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

img {
  width: 100%;
  height: auto;
}

/* ======= Nav Bar/Header styling ======= */

header {
  background-color: #f4eae1;
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}

nav > ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 24px;
  text-transform: uppercase;
  font-size: 14px;
  color: #014676;
}

nav > ul > li > a:hover {
  color: #bd7115;
  text-decoration: none;
}

.logo {
  position: relative;
  max-width: 125px;
  left: 0;
  padding: 5px 5px;
  margin: 1em 1em;
}

/* ======= Footer ======= */

footer {
  text-align: center;
}

.reach_me > h2 {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.email {
  padding: 1em;
  margin: 30px;
  margin-bottom: 50px;
}

.social {
  width: 20%;
  height: auto;
  padding: 10px;
}

/* ======= Work ======= */


#title {
  background-color: #f4eae1;
  margin-top: 8em;
  margin-bottom: 8em;
  width: auto;
  display: block;
}

#title > p {
  padding-right: 10px;
}

#work {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.project_text {
  padding: 0 10px;
  text-align: left;
}

.dimes, .rfrm {
  margin-bottom: 5em;
}

/* ======= About Me ======= */

.headshot {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.about_text {
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  text-align: center;
}

.item1 {
  padding: 0;
  text-align: center;
}

.item2{
  padding: 0;
}

.row {
  margin: 0;
}

.about_list_items {
  padding: 0;
}

.about_list_items > li {
  list-style-type: none;
  text-align: center;
}

.resume {
  padding: 15px;
  text-align: center;
  margin: 35px 10px;
}

/* ======= Project Page ======= */

#title.project_name {
  text-align: center;
  margin-bottom: 6em;
  margin-top: 5em;
}

#title.project_name > h1 {
  margin-bottom: 1.5em;
}

.welcome_screens {
  text-align: center;
  margin-bottom: 5em;
}

.welcome_screens.dimes{
  padding: 0;
  margin: 0;
  margin-bottom: 5em;
  text-align: center;
}

.grid.detail{
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  text-align: center;
}

.project_detail {
  padding-left: 5px;
  padding-right: 5px;
}

.content > h3 {
    text-align: center;
}

.content > p {
    margin-bottom: 3em;
    text-align: left;
}

.ideation {
    text-align: left;
}

.dimes_img {
    text-align: center;
    margin: 2em 0;
}

.user_flow {
    margin-bottom: 3em;
}

.ui_design {
    text-align: center;
}

.ui_design > h3 {
  margin-top: 3.5em;
  margin-bottom: 2em;
}

.image.screens {
  margin-bottom: 3em;
}


  /* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {

  body {
    background-color: #f4eae1;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #303030;
  }

  header {
    background-color: #f4eae1;
    padding: 10px 0;
    width: 100%;
    display: block;
  }

  .pages {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin: 25px 15px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    float: right;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 24px;
    text-transform: uppercase;
    font-size: 14px;
    color: #014676;
  }

  nav > ul > li > a:hover {
    color: #bd7115;
    text-decoration: none;
  }

  .logo {
    position: relative;
    max-width: 125px;
    left: 0;
    padding: 5px 5px;
    margin: 1em 1em;
  }

  #hero {
    background-color: #f4eae1;
    padding: 20px 20px;
    margin-top: 8em;
    margin-bottom: 12em;
    margin-left: 10em;
    margin-right: 10em;
    width: auto;
    display: block;
  }

  h1, h2, h3, h4 {
    font-family: 'Yeseva One', serif;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.35em;
  }

  img {
    width: 90%;
    height: auto;
  }

  #work {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
  }


  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    text-align: center;
  }

  .row {
    margin: 0px;
  }

  .item1 {
    padding: 0;
  }

  .item2{
    text-align: center;
    padding: 1em;
  }

  .headshot {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about_text {
    text-align: center;
    padding: 1em 4em;
  }

  ul.skills > li {
    list-style-type: none;
  }

  .resume {
    padding: 15px;
    margin: 75px;
    display: block;
  }
  a {
    color: #303030;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: ##bd7115;
  }

  a:visited {
    color: #303030;
  }

  a:active {
    color: #bd7115;
  }

  footer {
    text-align: center;
  }

  .reach_me > h2 {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .email {
    padding: 1em;
    margin: 30px;
  }
  .button {
    display: inline-block;
    background-color: transparent;
    color: #014676;
    text-transform: uppercase;
    border: 2px solid #014676;
    padding:10px 20px;
  }


  .button:hover {
    background-color: #014676;
    color: #f4eae1;
  }

  .social {
    width: 10%;
    height: auto;
    padding: 10px;
  }

  /* ======= project page styling ======= */

  #hero.title {
    text-align: center;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 13em;
    margin-top: 5em;
  }

  #hero.title > h1 {
    margin-bottom: 1.5em;
  }


  .welcome_screens {
    text-align: center;
    margin-bottom: 5em;
  }

  .image {
    width: 40%;
    height: auto;
  }

  .welcome_screens {
    content: ' ';
    display: table;
    clear: both;
    padding: 0 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 90px;
  }

  .welcome_android {
      float: right;
      width: 45%;
      margin-left: -80%;
      padding-top: 25%;
      position: relative;
      z-index: 1;
      right: 90px;
  }

  .welcome_rfrm_ios {
      width: 60%;
      position: relative;
      right: 100px;
  }

  .grid.scroll {
    grid-gap: 1em;
    margin-left: 2em;
    margin-right: 2em;

  }

  .scroll_img {
    width: 90%;
    position: relative;
    padding: 1em;
    margin: 2em;
  }

  .scroll_text {
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
  }

  .grid.detail{
    grid-gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
  }

  .project_detail {
    padding: 5px;
  }

  .screens > h2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .ios_screens {
    content: ' ';
    display: table;
    clear: both;
    text-align: center;
  }

  .ios.final {
      width: 90%;
      position: relative;
      z-index: 1;
      bottom: 50px;
  }

  .ios.low {
      width: 80%;
      position: relative;
      right: 50px;
      top: 70px;
  }

  .android_screens {
      content: ' ';
      display: table;
      clear: both;
      text-align: center;
    }

    .android.final {
        width: 90%;
        position: relative;
        z-index: 1;
        left: 30px;
        bottom: 90px;
    }

    .android.low {
        width: 85%;
        position: relative;
        right: 40px;
        top: 50px;
    }

    /* Dimes CSS*/
    .welcome_screens.dimes{
      padding: 0;
      margin: 20px;
      margin-bottom:0;
    }

    .welcome_dimes {
      width: 100%;
    }

    .content {
      margin-top: 8em;
      margin-bottom: 4em;
      margin-left: 11em;
      margin-right: 12em;
    }

    .content > h2 {
      padding: 5px;
      margin: 1em;
    }

    .content > p {
      margin-bottom: 5em;
    }

    .ideation {
      text-align: left;
      margin-left: 2em;
      margin-right: 2em;
      margin-top: 10em;

    }

    .grid.dimes_ideas {
      margin-left: 1em;
      margin-right: 1em;
    }

    .dimes_img {
      margin: 3em 0;
      text-align: center;
    }


}
