/* Colors used:
Background-color (Light Beige): #f4eae1
Text (Black): #303030
Primary (Lavender): #b27ea5
Primary (Light Blue): #cce9e7
Secondary (Citron): #b2b536
Secondary (Burnt Orange): #bd7115
Secondary (Dark Blue): #014676
*/

/* ======= Layout styling ======== */

* {
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

.row {
  margin: 25px 0;
}

div {
  display: block;
}

body {
  background-color: #f4eae1;
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #303030;
}


/* ======= Button styling ======= */

a {
  color: #303030;
  text-decoration: none;
}

a:hover,
a:focus {
  color: ##bd7115;
}

a:visited {
  color: #303030;
}

a:active {
  color: #bd7115;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #014676;
  text-transform: uppercase;
  border: 2px solid #014676;
  padding:10px 20px;
}

.button:hover {
  background-color: #014676;
  color: #f4eae1;
}

/* ======= Headings ======= */

h1, h2, h3, h4 {
  font-family: 'Yeseva One', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}


/* ======= Nav Bar/Header styling ======= */

header {
  background-color: #f4eae1;
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}

nav > ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 24px;
  text-transform: uppercase;
  font-size: 14px;
  color: #014676;
}

nav > ul > li > a:hover {
  color: #bd7115;
  text-decoration: none;
}

.logo {
  position: relative;
  max-width: 125px;
  left: 0;
  padding: 5px 5px;
  margin: 1em 1em;
}

/* ======= Footer ======= */

footer {
  text-align: center;
}

.reach_me > h2 {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.email {
  padding: 1em;
  margin: 30px;
  margin-bottom: 50px;
}

.social {
  width: 15%;
  height: auto;
  padding: 10px;
}

/* ======= Work ======= */


#title {
  background-color: #f4eae1;
  margin-top: 8em;
  margin-bottom: 8em;
  width: auto;
  display: block;
}

#title > p {
  padding-right: 5px;
  padding-left: 5px;
}

#work {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.project_cover {
  width: 100%;
}

.project_text {
  padding: 0 10px;
  text-align: left;
}

.preview {
  margin-bottom: 5em;
}

/* ======= About Me ======= */

.headshot {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.about_text {
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  text-align: center;
}

.item1 {
  padding: 0;
  text-align: center;
}

.item2{
  padding: 0;
}

.about_list_items {
  padding: 0;
}

.about_list_items > li {
  list-style-type: none;
  text-align: center;
}

.resume {
  padding: 15px;
  text-align: center;
  margin: 35px 10px;
}

/* ======= Project Page ======= */

#title.project_name {
  text-align: center;
  margin-bottom: 6em;
  margin-top: 5em;
}

#title.project_name > h1 {
  margin-bottom: 1.5em;
}

.dimes_img_container, .rfrm_img_container {
  text-align: center;
  margin-bottom: 1em;
}

.grid.detail{
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  text-align: center;
}

.item1_large.detail {
  text-align: center;
  margin: 6em 0;
}

.project_detail {
  padding-left: 5px;
  padding-right: 5px;
}

.scroll {
  text-align: center;
}

.content > h3 {
    text-align: center;
}

.content > p {
    margin-bottom: 3em;
    text-align: left;
}

.grid_text {
    text-align: left;
}

.dimes_img {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.user_flow {
    margin-bottom: 3em;
}

.rfrm_img {
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  }

  img {
    width: 100%;
  }

  #title {
    padding: 0 2em;
  }

  .logo {
    position: relative;
    max-width: 125px;
    left: 0;
    padding: 5px 5px;
    margin: 1em 1em;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    float: right;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 24px;
    text-transform: uppercase;
    font-size: 14px;
    color: #014676;
  }

  nav > ul > li > a:hover {
    color: #bd7115;
    text-decoration: none;
  }

  .preview {
    margin-bottom: 3em;
  }

  .social {
    width: 12%;
    height: auto;
  }

  img {
    width: 100%;
  }

  #title {
    padding: 0 2em;
  }

  .content {
    padding: 0 30px;
  }

  .prelim {
    width: 90%;
  }


  .home_screens, .scroll_img {
    width: 80%;
  }

  .grid_large {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 50% 50%;
  }

}


  /* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {

/* ======== Home Page ======== */

  .social {
    width: 8%;
    height: auto;
  }

  #title {
    margin: 0 5em;
  }

  #title.container {
    margin-top: 8em;
    margin-bottom: 8em;
  }

  #title > .content {
    margin: 0;
  }

  .container {
    padding: 0 30px;
  }

  .project_cover {
    width: 90%;
  }

  .project_text {
    padding: 0 30px;
  }

  .content {
    margin: 5em;

  }

  .content.grid_text {
    margin: 1em;
    margin-top: 10em;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
